<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.BbsMapper">
    <select id="findMany" resultType="com.example.demo.entity.Bbs">
        SELECT * FROM Bbs order by time desc
    </select>

    <insert id="add">
        INSERT INTO Bbs ( name ,text, time ) values ( #{name}, #{text} , #{time} ) 
    </insert>
</mapper>